
.vs/EShopMobile/MauiProgram.cs
.EShopMobile/EShopMobile/MauiProgram.cs
.EShopMobile/MauiProgram.cs
.vs/EShopMobile/Platforms/AndroidManifest.xml
.EShopMobile/EShopMobile/Platforms/AndroidManifest.xml
.EShopMobile/Platforms/AndroidManifest.xml

# Build directories
bin/
obj/

# Visual Studio project files
.vs/
